certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
cryptography==44.0.3
dotenv==0.9.9
idna==3.10
pillow==11.2.1
pycparser==2.22
PyJWT==2.10.1
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
python-dotenv==1.1.0
reportlab==4.4.1
requests==2.32.3
urllib3==2.4.0
